body {
  background-color: #ecf0f1;
  color: #000;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: #2980b9;
  color: #ffffff8e;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #2980b9;
  color: #ffffff8e;
  padding: 8px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: #2c3e50;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #34495e;
}

main {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #34495e;
  color: #fff;
}

#showcase {
  background-image: url('../images/desktop-screenshot.png');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

#showcase h1 {
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
}

#showcase p {
  font-size: 16px;
  color: #fff;
}

#showcase .button {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border: #fff 1px solid;
  padding: 8px 16px; 
  display: center;
  border-radius: 5px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #fff;
  color: #394692;
}

#section-a, #section-b {
  padding: 20px;
  text-align: center;
}

#section-a {
  background-color: #394692;
  color: #fff;
}

#section-b {
  background: #2dd5db;
}

#section-c {
  display: flex;
  flex-wrap: wrap;
}

#section-c div {
  width: 100%;
  padding: 20px;
}

#section-c .box1, #section-c .box-3 {
  background: #394692;
  color: #fff;
}

#section-c .box-2 {
  background: #f9f9f9;
}

body.modal-visible {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  pointer-events: all;
  background: rgba(222, 222, 222, 0.8);
}

.modal.visible {
  display: block;
}

button {
  position: relative;
  z-index: 1001;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li a {
    padding: 8px;
    font-size: 14px;
  }

  #showcase {
    background-image: url('../images/mobile-screenshot.png');
    height: 50vh;
  }

  #showcase h1 {
    font-size: 18px;
  }

  #showcase p, #showcase .button {
    font-size: 12px;
  }

  main {
    padding: 10px;
  }
}
